@import './variables';

li {
    list-style: none;
    height: 2em;
    margin-right: 40px;
}
a {
    display: block;
    background-color: $light-blue;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
}
#active {
    background-color: $mid-blue;
    text-decoration: underline;
    border: 2px solid $light-blue;
}


@media (min-width: 600px) {
    li {
        display: inline-block;
    }
}